.MrrH1 {
	display: grid;
	grid-template-columns: 100%;
	column-gap: 10px;
	row-gap: 15px;
	justify-items: start;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.Mrr {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 10px;
	row-gap: 15px;
	justify-items: start;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
	.Mrr {
		grid-template-columns: 100%;
		justify-items: center;
		width: 100%;
	}
	.MrrH1 {
		justify-items: center;
		width: 100%;
	}
}
