.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	width: 350px;
	height: 350px;
}

.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wind {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 350px;
	background: white;
	border-radius: 30px;
}
