.container {
	display: flex;
	flex-direction: column;
	width: 350px;
	z-index: 100;
}

.container p {
	margin: 0;
	font-size: 1.2em;
}

.searchform {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.searchform input {
	width: 250px;
	height: 40px;
	font-size: 1.5em;
	margin-bottom: 30px;
	background-color: transparent;
	border: solid 2px #fff;
	border-radius: 5px;
	color: #fff;
}

.searchform button {
	width: 150px;
	height: 40px;
	margin-bottom: 30px;
	border-radius: 50px;
	border: solid 2px #fff;
	background-color: transparent;
	font-size: 1.5em;
	color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.forecast {
	display: flex;
	flex-direction: column;
}
.forecast p {
	font-size: 2.8em;
}

.information {
	display: flex;
	flex-direction: column;
}

.icon {
	width: 70px;
}
