body {
	background: #f2f2f2;
	padding: 0;
	margin: 0 10px 0 10px;
	color: #5d5d5d;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

main {
	margin: 0 10px 0 10px;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

button,
input {
	/* 1 */
	overflow: visible;
}

button,
select {
	/* 1 */
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
