body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
}

* {
	box-sizing: border-box;
}

main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
